:root{
    --primario: #014c40;
    --rojo: #D12626;
    --blanco: #FFF;
    --negro: #000;
    --fuentePrincipal: 'Josefin Sans', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
}

/* Definir el tamaño de fuente de cada uno de los headers*/

h1{
    font-size: 3.5rem;
}

.header{
    display: flex;
    justify-content: center;
}

.footer{
    background-color: #d4d4d4;
}

.footer__texto{
    text-align: center;
    font-size: 1.2rem;
}

.navegacion{
    background-color: var(--primario);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.navegacion__link{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
}

.navegacion__link:hover{
    color: #D12626;
}

.contenedor__inicio__texto{
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}